*.log

# sbt specific
.cache
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.vagrant/machines/*


# Scala-IDE specific
.scala_dependencies
.worksheet
.iml
.idea/
.iml
cli/target/
core/target/

